.filter-container {
    display: flex;
    justify-content: space-between;
    gap: 2px; 
    width: 100%;  
    padding: 0; 
    margin: 0;
    margin-bottom: 15px;
  }
  
.filter-container input,
.filter-container select {
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
    cursor: pointer;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.filter-container input {
    flex: 8;
    padding-left: 3px;
}

.filter-container input:focus {
    flex: 8;
    padding-left: 3px;
    outline: none; 
    border: 1px solid #0366d6; 
    box-shadow: 0 0 5px rgba(3, 102, 214, 0.5); 

}

.filter-container select {
    flex: 1; 
    background: #ffffff; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 12px; 
    color: #333;
    cursor: pointer;
    width: 15vh;
    position: relative;
}

.filter-container select::after {
    content: '▼';
    font-size: 12px;
    color: #333;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.filter-container select:focus {
    outline: none; 
    border: 1px solid #0366d6; 
    box-shadow: 0 0 5px rgba(3, 102, 214, 0.5); 
}

.filter-container select option {
    background: #f9f9f9; 
    color: #333;
}

.filter-container select:hover {
    border-color: #30548a;
}

.filter-container .new-button {
    flex: none;
    background-color: #197935;
    color: white;
    font-weight: 600;
    border: 1px solid #ccc;
    padding: 10px 2%;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    width:12vh;
}

.new-button i {
    margin-right: 8px;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination-controls button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-controls button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.pagination-controls span {
    font-size: 14px;
    line-height: 30px;
}

@media (max-width: 768px) {
.filter-container {
    flex-direction: column;
}

.filter-container input,
.filter-container select,
.filter-container .new-button {
    margin-bottom: 5px;
}
}


