.search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .search-input {
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    width: calc(100% - 120px);
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #0366d6; 
    box-shadow: 0 0 5px rgba(3, 102, 214, 0.5); 
    outline: none; 
  }
  
  .search-button {
    padding: 8px 16px;
    border: none;
    border-radius: 10px;
    background-color: #262627;
    color: white;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .loading-message {
    color: #586069;
  }
  