*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family:"Courier Prime", monospace, sans-serif;
  background-color: #f6f8fa;
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.profile-section {
  flex: 1;
  max-width: 20%;
  margin-right: 15px;
}

.repository-list-section {
  flex: 3;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
}
